################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HuffmanTree/.vs/HuffmanTree/v16/ipch/AutoPCH/676363bd928a381a/HUFFMANTREE.ipch
