################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HuffmanTree/.vs/HuffmanTree/v16/ipch/AutoPCH/676363bd928a381a/HUFFMANTREE.ipch
/HuffmanTree/HuffmanTree.vcxproj.user
/HuffmanTree/HuffmanTree.vcxproj.filters
/HuffmanTree/HuffmanTree.vcxproj
/HuffmanTree/HuffmanTree.sln
/HuffmanTree/.vs/HuffmanTree/v16/Browse.VC.opendb
/HuffmanTree/.vs/HuffmanTree/v16/Browse.VC.db-wal
/HuffmanTree/.vs/HuffmanTree/v16/Browse.VC.db-shm
/HuffmanTree/.vs/HuffmanTree/v16/Browse.VC.db
